 <!-- START Process -->
<section class="section bg-light" id="process">
    <div class="container" style="margin-bottom: 0px; padding-bottom: opx;">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="text-center mb-4">
                    <h1 style="color: #e98b11; font-weight: bold;">Nos services</h1>
                
                </div>
            </div>
            <!--end col-->
            <div class="col-lg-10">
                <div class="timeline-page position-relative py-4">
                    <div class="timeline-item mb-lg-5">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="text-center mb-5 mb-lg-0">
                                    <img src="assets/images/conseil.jpeg" height="200" width="350"   alt="service" class="img-fluid">
                                </div>
                            </div>
                            <!--end col-->
                            <div class="col-lg-6">
                                <div class="works-description-right text-start bg-light mx-lg-3 mx-4">
                                    <h2 class="fs-18">Consulting en Stratégie</h2>
                                    <p class="mb-0">Nous accompagnons les entreprises dans l’élaboration de stratégies
                                        de croissance, de restructuration, et d’expansion, en tenant compte des spécificités de leur
                                        secteur et de leur marché.</p>
                                </div>
                            </div>
                            <!--end col-->
                        </div>
                        <!--end row-->
                    </div>
                    <!--end timeline-item-->

                    <div class="timeline-item ">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="works-description-left text-start bg-light mx-lg-3 mx-4 text-lg-end">
                                    <h2 class="fs-18">Développement Organisationne</h2>
                                    <p class=" mb-0"> Nous accompagnons les entreprises dans l’optimisation de
                                        leurs structures internes et de leurs processus afin de maximiser leur efficacité et leur capacité
                                        d'adaptation. Grâce à une analyse approfondie des besoins organisationnels, nous proposons
                                        des solutions sur mesure pour renforcer la culture d’entreprise, améliorer la gestion des talents
                                        et favoriser une meilleure collaboration entre équipes.
                                        
                                    </p>
                                </div>
                            </div>
                            <!--end col-->
                            <div class="col-lg-6 order-first order-lg-last">
                                <div class="text-center mb-5 mb-lg-0">
                                    <img src="assets/images/gestion.jpg" height="280" width="400" alt="service" class="img-fluid">
                                </div>
                            </div>
                            <!--end col-->
                        </div>
                        <!--end row-->
                    </div>
                    <!--end timeline-item-->
                    <div class="timeline-item ">
                        <div class="timeline-item ">
                        <div class="row align-items-start">
                            <div class="col-lg-6">
                                <div class="text-center mb-5 mb-lg-0">
                                    <img src="assets/images/social.jpg" height="280" width="400" alt="service" class="img-fluid">
                                </div>
                            </div>
                            <!--end col-->
                            <div class="col-lg-6">
                                <div class="works-description-right text-start bg-light mx-lg-3 mx-4">
                                    <h2 class="fs-18">Stratégie RSE (Responsabilité Sociétale des Entreprises)</h2>
                                    <p class="mb-0">COR Strategy aide les entreprises à
                                        intégrer des pratiques responsables et durables dans leurs activités commerciales. Nous
                                        développons des stratégies RSE qui non seulement respectent les réglementations locales et
                                        internationales, mais qui ajoutent également de la valeur à l’entreprise en contribuant à
                                        l’amélioration de la société.</p>
                                </div>
                            </div>
                            <!--end col-->
                        </div>
                        <!--end row-->
                    </div>
                    <!--end timeline-item-->
                    <div class="timeline-item  mt-5 ">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="works-description-left text-start bg-light mx-lg-3 mx-4 text-lg-end">
                                    <h2 class="fs-18">Développement en leadership et coaching</h2>
                                    <p class=" mb-0">COR Strategy propose des formations en leadership
                                        pour les cadres et les dirigeants, visant à améliorer leurs capacités de gestion, de
                                        communication et de prise de décision dans des environnements complexes. Nous offrons des
                                        programmes sur mesure pour le développement des compétences en leadership, la gestion des
                                        talents, et la formation continue des employés
                                    </p>
                                </div>
                            </div>
                            <!--end col-->
                            <div class="col-lg-6 order-first order-lg-last">
                                <div class="text-center mb-0 mb-lg-0">
                                    <img src="assets/images/leader.jpg" height="290" width="350" alt="service" class="img-fluid">
                                </div>
                            </div>
                            <!--end col-->
                        </div>
                        <!--end row-->
                    </div>
                    <div class="timeline-item ">
                        <div class="timeline-item ">
                        <div class="row align-items-start">
                            <div class="col-lg-6">
                                <div class="text-center mb-5 mb-lg-0">
                                    <img src="assets/images/etude.png"  height="300" width="380" alt="service" class="img-fluid">
                                </div>
                            </div>
                            <!--end col-->
                            <div class="col-lg-6">
                                <div class="works-description-right text-start bg-light mx-lg-3 mx-4">
                                    <h2 class="fs-18">Analyse de Marché</h2>
                                    <p class="mb-0">COR Strategy fournit des analyses de marché précises pour aider les
                                        entreprises à comprendre leur environnement concurrentiel et les tendances du secteur. En
                                        combinant données et insights, nous identifions des opportunités de croissance et anticipons
                                        les risques, permettant à nos clients de prendre des décisions éclairées pour optimiser leur
                                        stratégie et pénétrer de nouveaux marchés.</p>
                                </div>
                            </div>
                            <!--end col-->
                        </div>
                        <!--end row-->
                    </div>
                    <!--end timeline-item-->
                    <div class="timeline-item mt-5 ">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="works-description-left text-start bg-light mx-lg-3 mx-4 text-lg-end">
                                    <h2 class="fs-18">Gestion d'Événements Corporatifs</h2>
                                    <p class=" mb-0">Nous organisons des événements de grande envergure, tels
                                        que des forums, des conférences, et des séminaires, adaptés aux besoins des entreprises et
                                        des secteurs. Nous nous occupons de la logistique, de la planification et de la gestion complète
                                        pour garantir le succès de chaque événement.
                                    </p>
                                </div>
                            </div>
                            <!--end col-->
                            <div class="col-lg-6 order-first order-lg-last">
                                <div class="text-center mb-5 mb-lg-0">
                                    <img src="assets/images/event.jpg" height="400" width="400"  alt="service" class="img-fluid">
                                </div>
                            </div>
                            <!--end col-->
                        </div>
                        <!--end row-->
                    </div>

                </div><!-- timeline-page -->
            </div>
            <!--end col-->
        </div>
        <!--end row-->
    </div>
    <!--end container-->
  </div>
  <!

</section>
<!-- END Process -->




