
<!-- START CLIENTS -->
<section class="section bg-client bg-light" id="client"
    style="background-image: url(assets/images/bg.jpg);background-size: cover;  background-color: rgba(182, 128, 57, 0.9);">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-7">
                <div class="text-center mb-5">
                    <h1 style="color: #e98b11; font-weight: bold;">Nos Réalisations</h1>
                    
                </div>
            </div>
            <div class="col-lg-12">
                <div class="carousel-container">
                    <ngx-slick-carousel class="carousel" [config]="slideConfig">
                      <div class="carousel-slide" ngxSlickItem>
                        <div class="carousel-content">
                          <div class="image-container">
                            <img src="assets/images/guineefintech.jpg" alt="testimonial image" class="testimonial-img" />
                          </div>
                          <div class="text-container">
                            <h6 class="testimonial-name">Organisation de Guinea Fintech Week</h6>
    
                            <p class="testimonial-text">
                                COR Strategy est fière d’être entité co-organisatrice de Guinea Fintech Week, un
                                événement phare qui réunit des leaders de l'industrie, des innovateurs, des
                                entrepreneurs, et des régulateurs pour discuter des tendances et des défis du
                                secteur financier en Guinée. Cet événement annuel sert de plateforme
                                d'échanges pour promouvoir l'innovation technologique et l’inclusion financière
                                dans le pays. Grâce à notre expertise en project management, en gestion
                                d'événements et à notre réseau extensif, nous avons su faire de Guinea Fintech
                                Week un rendez-vous incontournable pour les acteurs du secteur.
                            </p>
                          </div>
                        </div>
                      </div>
                  
                      <div class="carousel-slide" ngxSlickItem>
                        <div class="carousel-content">
                          <div class="image-container">
                            <img src="assets/images/guineegain.jpg" alt="testimonial image" class="testimonial-img" />
                          </div>
                          <div class="text-container">
                            <h6 class="testimonial-name">Engagement avec le Guinean Angel Investors Network (GAIN)</h6>
                           
                            <p class="testimonial-text">
                                COR Strategy joue également un rôle clé au sein du GAIN, un réseau dédié à la
                                promotion de l'investissement privé dans les startups et PME guinéennes. Par
                                notre implication active, nous soutenons l'émergence d'un écosystème
                                entrepreneurial dynamique en facilitant l'accès au financement et en connectant
                                des investisseurs avec des opportunités prometteuses. Notre engagement
                                auprès de GAIN reflète notre volonté de contribuer au développement
                                économique durable et à l’autonomisation des entrepreneurs en Guinée
                            </p>
                          </div>
                        </div>
                      </div>
                  
                      
                      
                    </ngx-slick-carousel>
                  </div>
                  
                  
            </div>
        </div>
        <!--end col-->
        <div class="row mt-4">
            <div class="col-md-4">
                <div class="client-images text-center mt-4">
                    <img src="assets/images/clients/01.png" alt="img1" class="img-fluid">
                </div>
            </div>
            <!--end col-->
            <div class="col-md-4">
                <div class="client-images text-center mt-4">
                    <img src="assets/images/clients/02.png" alt="img2" class="img-fluid">
                </div>
            </div>
            <!--end col-->
            <div class="col-md-4">
                <div class="client-images text-center mt-4">
                    <img src="assets/images/clients/03.png" alt="img3" class="img-fluid">
                </div>
            </div>
            <!--end col-->
            
            <!--end col-->
        </div>
        <!--end row-->
    </div>
    <!--end container-->
</section>
<!-- END CLIENTS -->



