<!--START HOME-->
<section class="home-slider" id="home">
    <div class="swiper-container homeslider">
        <ngx-slick-carousel class="carousel" [config]="slideConfig" id="ecommerceHero">
            <div class="swiper-slide" ngxSlickItem
                style="background-image: url(assets/images/home/homebg.jpg);background-size: cover;background-position: center;">
                <div class="bg-overlay"></div>
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-12">
                            <div class="text-center text-white">
                                <h6 class="home-subtitle mb-4">Intégrité</h6>
                                <h1>Accélerez votre développement avec COR Strategy</h1>
                                <p class="home-desc pt-3">La transparence, l'éthique et l'honnêteté sont au cœur de nos interactions.
                                    Nous agissons toujours dans l’intérêt de nos clients et veillons à construire des relations
                                    basées sur la confiance.
                                    </p>

                            </div>
                        </div>
                        <!--end col-->
                    </div>
                    <!--end row-->
                </div>
                <!--end container-->
            </div>
            <!--end swiper-slide-->

            <div class="swiper-slide" ngxSlickItem
                style="background-image: url(assets/images/home/homebg3.jpg);background-size: cover;background-position: bottom;">
                <div class="bg-overlay"></div>
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-12">
                            <div class="text-center text-white">
                                <h6 class="home-subtitle mb-4">Collaboration</h6>
                                <h1>Construisez tout pour votre projet</h1>
                                <p class="home-desc pt-3">Nous travaillons en étroite collaboration avec nos clients et partenaires
                                    pour atteindre des objectifs communs. Ensemble, nous sommes plus forts et plus
                                    efficaces.</p>
                                
                            </div>
                        </div>
                        <!--end col-->
                    </div>
                    <!--end row-->
                </div>
                <!--end container-->
            </div>
            <!--end swiper-slide-->

            <div class="swiper-slide" ngxSlickItem
                style="background-image: url(assets/images/home/homebg4.jpg);background-size: cover;background-position: top;">
                <div class="bg-overlay"></div>
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-12">
                            <div class="text-center text-white">
                                <h6 class="home-subtitle mb-4">Innovation</h6>
                                <h1>Notre agence foutnit les meilleurs conseils de développement d'entreprise</h1>
                                <p class="home-desc pt-3">Nous travaillons en étroite collaboration avec nos clients et partenaires
                                    pour atteindre des objectifs communs. Ensemble, nous sommes plus forts et plus
                                    efficaces. </p>
                                
                            </div>
                        </div>
                        <!--end col-->
                    </div>
                    <!--end row-->
                </div>
                <!--end container-->
            </div>
            <!--end swiper-slide-->

        </ngx-slick-carousel>
    </div>
    <!--end homeslider-->
</section>
<!--end home-->



<app-sommes></app-sommes>
<app-features></app-features>
<app-process></app-process>
<app-clients></app-clients>
<app-contact></app-contact>
