<!-- START FEATURE  -->
<section class="section" id="sommes">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="features-box">
                    <h1 class="mb-4">Qui sommes nous?</h1>
                    <p class=" mb-4">COR Strategy est une entreprise de conseil dédiée à accompagner les organisations dans leur
                        croissance et leur transformation. Fondée sur les principes de connexions, d’opportunités et de
                        ressources, COR Strategy apporte des solutions innovantes et adaptées aux défis spécifiques
                        de ses clients. Nous travaillons avec des entreprises de divers secteurs, des multinationales aux
                        PME, en leur offrant un accompagnement stratégique pour améliorer leur performance,
                        favoriser l’innovation et assurer leur succès à long terme.
                    </p>
                    <p class="">Notre équipe est composée d’experts passionnés par le développement des entreprises et
                        engagés à offrir des résultats concrets. Nous croyons fermement à la collaboration, à l'intégrité
                        et à l'impact positif, et mettons ces valeurs au service de chaque projet que nous entreprenons. 
                    </p>
                    
                    <!--end row-->
                    
                </div>
                <!--end feature-box-->
            </div>
            <!--end col-->
            <div class="col-lg-5 offset-lg-1">
                <div class="text-center mt-5 mt-lg-0">
                    <img src="assets/images/c.jpg" height="300" width="400" alt="Features" class="img-fluid">
                </div>
            </div>
            <!--end col-->
        </div>
        <!--end row-->
    </div>
    <!--end container-->
</section>
<!-- END FEATURE -->
