 <!-- START FEATURES -->
    <div class="container-fluid ">
        <section class="section " id="features">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="text-center mb-2">
                    
                </div>
            </div>
            <!--end col-->
        </div>
        <!--end row-->
        <div class="row justify-content-space-between" style="justify-content: space-around;">
            <div class="col-lg-4 col-md-3" style="background-color:white ; border-radius: 8%;  box-shadow: 2px 2px 5px  #163b6d;">
                <div class="feature-box card border-0 mt-3">
                    <div class="card-body">
                        <div class="feature-icon mx-auto" style="background-color: white;  ">
                            <i class="mdi mdi-layers" style="color: #e98b11;"></i>
                        </div>
                        <div class="mt-4">
                            <h3 class="mb-3 ">Mission</h3>
                            <p class=""> Chez COR Strategy, notre mission est d'offrir à nos clients les connexions, opportunités et
                                ressources dont ils ont besoin pour prospérer dans un monde des affaires globalisé et intègré.
                                Nous nous engageons à accompagner nos clients dans leur croissance et à leur offrir des solutions
                                sur mesure pour relever les défis du marché moderne.
                            </p>
                        </div>
                        
                    </div>
                    <!--end card-body-->
                </div>
                <!--end feature-box-->
            </div>
            <!--end col-->

            <div class="col-lg-4 col-md-3" style="background-color:white ; border-radius: 8%;  box-shadow: 2px 2px 5px #163b6d;">
                <div class="feature-box card border-0 mt-3">
                    <div class="card-body">
                        <div class="feature-icon mx-auto" style="background-color: white;">
                            <i class="mdi mdi-eye" style="color: #e98b11;"></i>
                        </div>
                        <div class="mt-4">
                            <h3 class="mb-3 ">Vision</h3>
                            <p class=""> Chez COR Strategy, notre mission est d'offrir à nos clients les connexions, opportunités et
                                ressources dont ils ont besoin pour prospérer dans un monde des affaires globalisé et intègré.
                            </p>
                        </div>
                        
                    </div>
                    <!--end card-body-->
                </div>
                <!--end feature-box-->
            </div>
            <!--end col-->

            <div class="col-lg-4 col-md-3" style="background-color:white ; border-radius: 8%; box-shadow: 2px 2px 5px #163b6d;">
                <div class="feature-box card border-0 mt-3">
                    <div class="card-body">
                        <div class="feature-icon mx-auto" style="background-color: white;">
                            <i class="mdi  mdi-chart-histogram" style="color: #e98b11;"></i>
                        </div>
                        <div class="mt-4">
                            <h3 class="mb-3">Valeurs</h3>
                            <p class=""> COR Strategy est une entreprise qui se démarque par son humanisme, son intégrité, sa collaboration, son impact, son excellence et son innovation. Ces valeurs fondamentales guident toutes les actions de l'entreprise et lui permettent de construire des relations durables avec ses clients et partenaires.
                            </p>
                        </div>
                        
                    </div>
                    <!--end card-body-->
                </div>
                <!--end feature-box-->
            </div>
            <!--end col-->
        </div>
        <!--end row-->
    </div>
    <!--end container-->
</section>
<!-- END FEATURES -->
